@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 640px;
  padding: 0 2rem;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
}

div {
    width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  width: 100%;
}



ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul li {
    width: 100%;
    height: 46px;
}
ul a {
  color: #666;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9rem;
  display: block;
    height: 100%;
    padding: 0.5rem 1.5rem;
}

  ul a:visited {
    color: #666;
  }
  ul a:active {
    color: #deb887;
  }
  ul a:hover {
    color: #00ddff;
  }

  h1 {
    font-family: "Lora", serif;
    color: #333;
    font-size: 2em;
    font-weight: bold;
  }
  h2 {
    font-family: "Lora", serif;
  }

  a {
    text-decoration: none;
  }

  /* main article {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-self: center;
  /* flex-direction: column; */
  /* align-items: center; */
}

article > h2 {
  text-align: right;
}

section figure {
  justify-self: center;
}
*/ article,
section,
figure,
img,
h2 {
  justify-self: center;
}
